#contentBox{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 85%;
	box-sizing: border-box;
}
/* 상단 sprint 정보 출력 부분 ------------------------------------- */
#contentBox1{
	width: 100%;
	height: 12%;
	background: yellow;
}
/* 스프린트명 입력 */
#contentBox1-title{
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 17px;
	letter-spacing: 0.1px;
	color: #000000;
}
/* 스프린트 상세 설명 입력 */
#contentBox1-subtitle{
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0.1px;
	color: #6D6D6D;
	box-sizing: border-box;
	margin-top: 10px;
}
/* contentBox1-table 내부 css */
#contentBox1-table td{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* searchBox */
#searchBox{
	width: 170px;
	height: 34px;	
	background: #FBFBFB;
	border: 2px solid #F4F4F4;
	box-sizing: border-box;
	border-radius: 8px;
	display: inline-block;	
}
#searchBox input{
	height: 28px;	
	font-size: 13px;
	line-height: 28px;
	width: 80%;
	vertical-align:middle;
	box-sizing: border-box;
	border-radius: 8px;
	margin: 0;
	padding: 0;
	float: left;
	background: none;
}
/* 검색 박스 돋보기 아이콘 */
#icon-searchicon{
	width: 25px;
	float: left;
	margin-top: 3px;
	box-sizing: border-box;
}
/* 즐겨찾기 별 아이콘 */
#icon-star{
	width: 30px;
}
/* 스프린트 완료 아이콘 */
#sprint-finish{
	width: 100px;
	height: 34px;
	left: calc(50% - 100px/2 + 255px);
	top: calc(50% - 34px/2 - 247px);
	background: #F9F9F9;
	border-radius: 5px;	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 34px;
	color: #000000;
	text-align: center;
}
#group-standard{
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1px;
	color: #000000;
}



/* board list 부분 css ------------------------------------ */
#contentBox2{
	width: 100%;
	height: 88%;
}
#contentBox2-title{
	width: 100%;
	/* contentBox2 내부 비율 boardTitle 12% : board 88% */
	height: 12%;
	background: red;
	display: inline-block;
}
/* 미진행, 진행중, 완료 박스  title table 및 title css */
/* 미진행 title 테이블 */
#incomplete-title-table{
	height: 34px;
	width: 320px;
	background: blue;
	float: left;
	box-sizing: border-box;
	padding-left: 3.5%;
	padding-right: 3.5%;
}
/* 미진행 title 테이블 */
#proceeding-title-table{
	height: 34px;
	width: 320px;
	background: green;
	float: left;
	box-sizing: border-box;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

/* 완료 title 테이블 */
#complete-title-table{
	height: 34px;
	width: 320px;
	background: black;
	float: left;
	box-sizing: border-box;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

#incomplete-title, #proceeding-title, #complete-title{
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 34px;
	align-items: center;
	color: #000000;
	background: #F9F9F9;
	border-radius: 5px;
	width: 250px;
	height: 34px;
	float: left;
	box-sizing: border-box;
	padding-left: 30px;
	margin-top: 30px;
}


#contentBox2-board{
	width: 100%;
	/* contentBox2 내부 비율 boardTitle 12% : board 88% */
	height: 88%;
	background: purple;	
	display: inline-block;
}
/* board 박스 table들 css   */
#incomplete-table{
	height: 100%;
	width: 320px;
	background: blue;
	float: left;
	box-sizing: border-box;
	padding-left: 3.5%;
	padding-right: 3.5%;
}
#proceeding-table{
	height: 100%;
	width: 320px;
	background: green;
	float: left;
	box-sizing: border-box;
	padding-left: 3.5%;
	padding-right: 3.5%;
}
#complete-table{
	height: 100%;
	width: 320px;
	background: black;
	float: left;
	box-sizing: border-box;
	padding-left: 3.5%;
	padding-right: 3.5%;	
}


/* 회색 board 박스들 css ---------------------------------- */
#incomplete-divs, #proceeding-divs, #complete-divs{
	width: 250px;
	height: 473px;
	background: #F9F9F9;
	border-radius: 5px;
	float: left;
}
.incomplete-div, .proceeding-div, .complete-div{
	background: #FFFFFF;
	box-shadow: 1px 1px 2px rgba(142, 142, 142, 0.25);
	border-radius: 5px;
	width: 230px;
	height: 16%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

/* 회색 board box 내 div css */
/* 회색 board box 내 table css*/
.incomplete-div-inner-table, .complete-div-inner-table, .proceeding-div-inner-table{
	width: 230px;
	height: 100%;
}

.incomplete-div-inner-table tr, .complete-div-inner-table tr, .proceeding-div-inner-table tr{
	width: 230px;
	height: 50%;
}

/* table td 조절 */
/* 첫행 첫번쨰 */
.incomplete-div-inner-table tr:nth-child(1) td:nth-child(1), .complete-div-inner-table tr:nth-child(1) td:nth-child(1), .proceeding-div-inner-table tr:nth-child(1) td:nth-child(1){
	width: 120px;
	height:100%;	
}

/* 테스크 명 */
.task-name-td{
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	align-items: center;
	letter-spacing: 0.1px;
	color: #000000;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;

}
/* 글자 overflow 안되게 하는 css */
.task-name-div{
	width: 120px;
 	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap; 	
}

/* 첫행 두번째 td */
.incomplete-div-inner-table tr:nth-child(1) td:nth-child(2), .complete-div-inner-table tr:nth-child(1) td:nth-child(2), .proceeding-div-inner-table tr:nth-child(1) td:nth-child(2){
	width: 30px; 
	height:100%;
}
/* 첫행 세번째 td */
/* 담당자 프로필 사진 */
.incomplete-div-inner-table tr:nth-child(1) td:nth-child(3), .complete-div-inner-table tr:nth-child(1) td:nth-child(3), .proceeding-div-inner-table tr:nth-child(1) td:nth-child(3){
	width: 30px;
	height:100%;
/* 	border: 1px solid black;
	border-radius: 221.5px; */
}
/* 첫행 네번째 td */
.incomplete-div-inner-table tr:nth-child(1) td:nth-child(4), .complete-div-inner-table tr:nth-child(1) td:nth-child(4), .proceeding-div-inner-table tr:nth-child(1) td:nth-child(4){
	width: 30px;
	height:100%;
}

/* 둘째행 첫번째 td ------------------------------------------ */
.incomplete-div-inner-table tr:nth-child(2) td:nth-child(1), .complete-div-inner-table tr:nth-child(2) td:nth-child(1), .proceeding-div-inner-table tr:nth-child(2) td:nth-child(1){
	width: 30px;
	padding: 5px;
	height:100%;
	box-sizing: border-box;

}
/* 테스크 고유 아이콘 */
.task-icon{
	background: #63BA3C;
	border-radius: 3px;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	font-weight: bold;
	color: white;
	text-align: center;
	font-size:14px;
	line-height: 16px;
}

/* 둘째행 두번째 td ---------------------------------------- */
.incomplete-div-inner-table tr:nth-child(2) td:nth-child(2), .complete-div-inner-table tr:nth-child(2) td:nth-child(2), .proceeding-div-inner-table tr:nth-child(2) td:nth-child(2){
	width: 120px;
	height:100%;
	padding: 5px;
	box-sizing: border-box;
}

/* 테스크 코드 */
.task-code{
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	align-items: center;
	letter-spacing: 0.1px;
	color: #6D6D6D;
	/* 글자 overflow 안되게 하기 */
	width: 120px;
 	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap; 
}

/* 둘째행 세번째 td ---------------------------------------- */
.incomplete-div-inner-table tr:nth-child(2) td:nth-child(3), .complete-div-inner-table tr:nth-child(2) td:nth-child(3), .proceeding-div-inner-table tr:nth-child(2) td:nth-child(3){
	width: 30px;
	height:100%;
	padding: 5px;
	box-sizing: border-box;
}
/* 중요도 아이콘 */
.icon_arrow_upward_red{
	width: 21px;
}

/* 둘째행 네번째 td ---------------------------------------- */
.incomplete-div-inner-table tr:nth-child(2) td:nth-child(4), .complete-div-inner-table tr:nth-child(2) td:nth-child(4), .proceeding-div-inner-table tr:nth-child(2) td:nth-child(4){
	width: 30px;
	height:100%;
	padding: 5px;
	box-sizing: border-box;
}
/* 상위 에픽명 */
.epic-name{
	background: #00875A;
	border-radius: 3px;
	height: 20px;
	width: 20px;
	box-sizing: border-box;	
	font-weight: bold;
	color: white;
	text-align: center;
	font-size:14px;
	line-height: 16px;
}

/* 하위 테스크 있을 경우 진행 상태 */
.proceeding-rate{
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	align-items: center;
	letter-spacing: 0.1px;
	color: #A3A3A3;	
}
/* more-setting div */
.more-settings{
	box-sizing: border-box;
	padding-left: 42%;
	padding-right: 42%;
	padding-top: 16%;
	
}
/* more option 아이콘 */
.icon_more_settings{
	width:4px;
	margin-left: auto;
	margin-right: auto;
}


/* flag 설정 다시하기 */
.flag-true{
	/* opacity 는 전체가 흐려지는데, background rgba 에 투명도 주면 글자는 선명하게 적용됨 */
	background: rgba(221, 3, 81, 0.4);
	
}	
	
/* 드롭 다운 css-------------------------------------------- */
@charset "UTF-8";
.dropdown {
  width: 90px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
  margin-right: 30px;
  margin-left: 30px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
