<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Project">

	<!-- Project_List 테이블 -->
	<resultMap type="com.stepup.agile.projectManage.model.vo.Project" id="projectResultSet">
		<id property="projectCode" column="PROJECT_CODE"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="createDate" column="PROJECT_CREATE_DATE"/>
		<result property="createTime" column="PROJECT_CREATE_TIME"/>
	</resultMap>

	<!-- Project_HISTORY 테이블 -->
	<resultMap type="com.stepup.agile.projectManage.model.vo.ProjectHistory" id="projectHistoryResultSet">
		<id property="projectHistCode" column="PROJECT_HIST_CODE"/>
		<result property="projectHistDate" column="PROJECT_HIST_DATE"/>
		<result property="projectStatus" column="PROJECT_STATUS"/>
		<result property="projectStartDate" column="PROJECT_START_DATE"/>
		<result property="projectEndDate" column="PROJECT_END_DATE"/>
		<result property="projectCode" column="PROJECT_CODE"/>
		<result property="projectHistTime" column="PROJECT_HIST_TIME"/>
		<result property="projectIntro" column="PROJECT_INTRO"/>
		<result property="projectStartTime" column="PROJECT_START_TIME"/>
		<result property="projectEndTime" column="PROJECT_END_TIME"/>
	</resultMap>

	<resultMap id="selectUserPJRset" type="com.stepup.agile.projectManage.model.vo.Project">
		<id property="projectCode" column="PROJECT_CODE"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="createDate" column="PROJECT_CREATE_DATE"/>
		<result property="createTime" column="PROJECT_CREATE_TIME"/>
    <collection property="member" resultMap="memberResultSet"/>
    <collection property="userTeamList" resultMap="UserTeamListResultSet"/>
    <collection property="userProjectList" resultMap="UserProjectListResultSet"/>
		
	</resultMap>
	
	
	
	<select id="projectResultSet" resultMap="selectUserPJRset" resultType="map">
	<!-- 	SELECT PROJECT_NAME
		  FROM USER_INFO I,
		       USER_TEAM_LIST T,
		       USER_PROJECT_LIST P,
		       PROJECT_LIST PL
		 WHERE I.USER_CODE = T.USER_CODE
		   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
		   AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
		   AND P.PROJECT_CODE = PL.PROJECT_CODE
		   AND USER_EMAIL = #{userEmail} -->
		   
		   SELECT PROJECT_NAME
		     FROM PROJECT_LIST
	</select>

</mapper>