<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Project">

	<!-- Project_List 테이블 -->
	<resultMap type="com.stepup.agile.projectManage.model.vo.Project" id="projectResultSet">
		<id property="projectCode" column="PROJECT_CODE"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="createDate" column="PROJECT_CREATE_DATE"/>
		<result property="createTime" column="PROJECT_CREATE_TIME"/>
	</resultMap>

	<!-- Project_HISTORY 테이블 -->
	<resultMap type="com.stepup.agile.projectManage.model.vo.ProjectHistory" id="projectHistoryResultSet">
		<id property="projectHistCode" column="PROJECT_HIST_CODE"/>
		<result property="projectHistDate" column="PROJECT_HIST_DATE"/>
		<result property="projectStatus" column="PROJECT_STATUS"/>
		<result property="projectStartDate" column="PROJECT_START_DATE"/>
		<result property="projectEndDate" column="PROJECT_END_DATE"/>
		<result property="projectCode" column="PROJECT_CODE"/>
		<result property="projectHistTime" column="PROJECT_HIST_TIME"/>
		<result property="projectIntro" column="PROJECT_INTRO"/>
		<result property="projectStartTime" column="PROJECT_START_TIME"/>
		<result property="projectEndTime" column="PROJECT_END_TIME"/>
	</resultMap>

</mapper>