<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Qna">
	
	<!-- QNA_LIST 테이블 -->
	<resultMap type="com.stepup.agile.userQna.model.vo.QnaList" id="qnaListResultSet">
	<id property="qnaCode" column="QNA_CODE"/>
	<result property="qnaType" column="QNA_TYPE"/>
	<result property="qnaContent" column="QNA_CONTENT"/>
	<result property="qnaPrivacy" column="QNA_PRIVACY"/>
	<result property="userCode" column="USER_CODE"/>
	<result property="qnaReply" column="QNA_REPLY"/>
	</resultMap>
	
	<!-- QNA_REPLY 테이블 -->
	<resultMap type="com.stepup.agile.userQna.model.vo.QnaReply" id="qnaReplyResultSet">
	<id property="qnaCode" column="QNA_CODE"/>
	<result property="qnaReplyContent" column="QNA_REPLY_CONTENT"/>
	<result property="qnaReplyDate" column="QNA_REPLY_DATE"/>
	<result property="qnaReplyTime" column="QNA_REPLY_TIME"/>
	<result property="userCode" column="USER_CODE"/>
	</resultMap>
	
</mapper>