<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sprint">

<!-- SPRINT_HISTORY 테이블-->	
	<resultMap type="com.stepup.agile.projectBacklog.model.vo.SprintHistory" id="sprintHistoryResultSet">
		<id property="sprintHistCode" column="SPRINT_HIST_CODE"/>
		<result property="sprintHistUpdateDate" column="SPRINT_HIST_UPDATE_DATE"/>
		<result property="sprintName" column="SPRINT_NAME"/>
		<result property="sprintType" column="SPRINT_TYPE"/>
		<result property="sprintExpectPeriod" column="SPRINT_EXPECT_PERIOD"/>
		<result property="sprintCode" column="SPRINT_CODE"/>
		<result property="sprintHistUpdateTime" column="SPRINT_HIST_UPDATE_TIME"/>
		<result property="sprintIntro" column="SPRINT_INTRO"/>
		<result property="sprintStatus" column="SPRINT_STATUS"/>
	</resultMap>
	
<!-- SPRINT LIST 테이블 -->
	<resultMap type="com.stepup.agile.projectBacklog.model.vo.Sprint" id="sprintResultSet">
		<id property="sprintCode" column="SPRINT_CODE"/>
		<result property="sprintCreateDate" column="SPRINT_CREATE_DATE"/>
		<result property="sprintProjectCode" column="USER_PROJECT_CODE"/>
		<result property="sprintCreateTime" column="SPRINT_CREATE_TIME"/>
	</resultMap>
	
	
<!-- Project멤버매칭 테이블 -->
	<resultMap type="com.stepup.agile.userInfo.model.vo.UserProjectList" id="UserProjectListResultSet">
		<id property="userProjectCode" column="USER_PROJECT_CODE"/>
		<result property="projectCode" column="PROJECT_CODE"/>
		<result property="userProjectUpdateDate" column="USER_PROJECT_UPDATE_DATE"/>
		<result property="userProjectUpdateTime" column="USER_PROJECT_UPDATE_TIME"/>
		<result property="userProjectStatus" column="USER_PROJECT_STATUS"/>
		<result property="userTeamCode" column="USER_TEAM_CODE"/>
		<result property="userProjectAuthority" column="USER_PROJECT_AUTHORITY"/>
	</resultMap>
	
	<!-- 팀소속이력관리 -->
	<resultMap type="com.stepup.agile.userInfo.model.vo.UserTeamList" id="UserTeamListResultSet">
		<id property="userTeamCode" column="USER_TEAM_CODE"/>
		<result property="teamCode" column="TEAM_CODE"/>
		<result property="userTeamDate" column="USER_TEAM_DATE"/>
		<result property="userTeamYn" column="USER_TEAM_YN"/>
		<result property="userCode" column="USER_CODE"/>
		<result property="userTeamTime" column="USER_TEAM_TIME"/>
	</resultMap>
	
	<!-- 사용자정보  -->
	<resultMap type="com.stepup.agile.userInfo.model.vo.Member" id="memberResultSet">
		<id property="userCode" column="USER_CODE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userCompName" column="USER_COMP_NAME"/>
		<result property="userCompDept" column="USER_COMP_DEPT"/>
		<result property="userCompJob" column="USER_COMP_JOB"/>
		<result property="userEnrollDate" column="USER_ENROLL_DATE"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="userManagerYn" column="USER_MANAGER_YN"/>
		<result property="userEnrollTime" column="USER_ENROLL_TIME"/>
	</resultMap>	
	
<!-- ---------------------------------------쿼리--------------------------------------------- -->
	<select id="selectSprint" resultMap="sprintResultSet" parameterType="Sprint">
		SELECT *
		  FROM SPRINT_LIST
		 WHERE USER_PROJECT_CODE = {#}
		 
	</select>
	






	
</mapper>