<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Survey">

	<resultMap type="com.stepup.agile.projectFeedback.model.vo.SurveyChoiceList" id="surveyChoiceListResultSet">
		<id property="surveyQuesCode" column="SURVEY_QUES_CODE"/>
		<id property="surveyChoiceNum" column="SURVEY_CHOICE_NUM"/>
		<result property="surveyChoiceContent" column="SURVEY_CHOICE_CONTENT"/>
		<collection property="surveyQuesList" resultMap="surveyQuesListResultSet"/>
		<collection property="surveyQuesMatch" resultMap="SurveyQuesMatchResultSet"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.projectFeedback.model.vo.SurveyJoinList" id="surveyJoinListResultSet">
		<id property="surveyJoinCode" column="SURVEY_JOIN_CODE"/>
		<result property="surveyJoinEmail" column="SURVEY_JOIN_EMAIL"/>
		<result property="surveyJoinReply" column="SURVEY_JOIN_REPLY"/>
		<result property="surveyReplyDate" column="SURVEY_REPLY_DATE"/>
		<result property="surveyReplyTime" column="SURVEY_REPLY_TIME"/>
		<result property="surveyCode" column="SURVEY_CODE"/>
		<result property="surveyJoinName" column="USER_NAME"/>
	</resultMap>
	

	<resultMap type="com.stepup.agile.projectFeedback.model.vo.SurveyList" id="SurveyListResultSet">
		<id property="surveyCode" column="SURVEY_CODE"/>
		<result property="sprintCode" column="SPRINT_CODE"/>
		<result property="surveyCreateDate" column="SURVEY_CREATE_DATE"/>
		<result property="surveyCreateTime" column="SURVEY_CREATE_TIME"/>
		<result property="surveyName" column="SURVEY_NAME"/>
		<result property="surveyIntro" column="SURVEY_INTRO"/>
		<result property="surveyStatus" column="SURVEY_STATUS"/>
		<result property="surveyStartDate" column="SURVEY_START_DATE"/>
		<result property="surveyEndDate" column="SURVEY_END_DATE"/>
		<collection property="member" resultMap="memberResultSet"/>
		<collection property="surveyJoinList" resultMap="surveyJoinListResultSet"/>
		<collection property="sprint" resultMap="sprintResultSet"/>
		<collection property="sprintHistory" resultMap="sprintHistoryResultSet2"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.projectFeedback.model.vo.SurveyQuesMatch" id="SurveyQuesMatchResultSet">
		<result property="surveyQuesCode" column="SURVEY_QUES_CODE"/>
		<result property="surveyCode" column="SURVEY_CODE"/>
	</resultMap>

	
	<resultMap type="com.stepup.agile.projectFeedback.model.vo.SurveyQuesList" id="surveyQuesListResultSet">
		<id property="surveyQuesCode" column="SURVEY_QUES_CODE"/>
		<result property="surveyQuesType" column="SURVEY_QUES_TYPE"/>
		<result property="surveyQuesName" column="SURVEY_QUES_NAME"/>
		<result property="surveyQuesMust" column="SURVEY_QUES_MUST"/>
		<result property="surveyQuesMulti" column="SURVEY_QUES_MULTI"/>

	</resultMap>

	   <!-- collection용 -->
   <!-- 사용자정보  -->
   <resultMap type="com.stepup.agile.userInfo.model.vo.Member" id="memberResultSet">
      <id property="userCode" column="USER_CODE"/>
      <result property="userEmail" column="USER_EMAIL"/>
      <result property="userPwd" column="USER_PWD"/>
      <result property="userName" column="USER_NAME"/>
      <result property="userPhone" column="USER_PHONE"/>
      <result property="userCompName" column="USER_COMP_NAME"/>
      <result property="userCompDept" column="USER_COMP_DEPT"/>
      <result property="userCompJob" column="USER_COMP_JOB"/>
      <result property="userEnrollDate" column="USER_ENROLL_DATE"/>
      <result property="userStatus" column="USER_STATUS"/>
      <result property="userManagerYn" column="USER_MANAGER_YN"/>
      <result property="userEnrollTime" column="USER_ENROLL_TIME"/>
   </resultMap>   
   
   <!-- SPRINT LIST 테이블 -->
   <resultMap type="com.stepup.agile.projectBacklog.model.vo.Sprint" id="sprintResultSet">
      <id property="sprintCode" column="SPRINT_CODE"/>
      <result property="sprintCreateDate" column="SPRINT_CREATE_DATE"/>
      <result property="sprintProjectCode" column="USER_PROJECT_CODE"/>
      <result property="sprintCreateTime" column="SPRINT_CREATE_TIME"/>
   </resultMap>

   <!-- SPRINT_HISTORY 테이블-->   
   <resultMap type="com.stepup.agile.projectBacklog.model.vo.SprintHistory" id="sprintHistoryResultSet2">
      <id property="sprintHistCode" column="SPRINT_HIST_CODE"/>
      <result property="sprintHistUpdateDate" column="SPRINT_HIST_UPDATE_DATE"/>
      <result property="sprintName" column="SPRINT_NAME"/>
      <result property="sprintType" column="SPRINT_TYPE"/>
      <result property="sprintExpectPeriod" column="SPRINT_EXPECT_PERIOD"/>
      <result property="sprintCode" column="SPRINT_CODE"/>
      <result property="sprintHistUpdateTime" column="SPRINT_HIST_UPDATE_TIME"/>
      <result property="sprintIntro" column="SPRINT_INTRO"/>
      <result property="sprintStatus" column="SPRINT_STATUS"/>
      <result property="sprintTaskCount" column="SPRINT_TASK_COUNT"/>
      <result property="sprintTypeYn" column="SPRINT_TYPE_YN"/>
   </resultMap>

	
	<insert id="insertSurvey" parameterType="SurveyList">
		INSERT INTO SURVEY_LIST
		VALUES (SEQ_SURVEY.NEXTVAL, #{sprintCode}, TO_CHAR(SYSDATE+9/24, 'YYYY-MM-DD'), TO_CHAR(SYSDATE+9/24, 'hh24:mi:ss'), #{surveyName}, #{surveyIntro}, 'Y', #{surveyStartDate}, #{surveyEndDate}, #{userCode})
	</insert>

	<!-- <insert id="insertNewSurveyMatch" parameterType="SurveyList">
		INSERT INTO SURVEY_QUES_MATCH
		VALUES (SEQ_SURVEY_QUES.NEXTVAL, #{surveyCode});
	</insert> -->
	
	
	<insert id="insertNewQues" parameterType="SurveyQuesList" >
		<selectKey keyProperty="surveyQuesCode" resultType="int" order="AFTER">
	         SELECT SEQ_SURVEY_QUES.CURRVAL FROM DUAL
	     </selectKey>
		INSERT INTO SURVEY_QUES_LIST
		VALUES (SEQ_SURVEY_QUES.NEXTVAL, #{surveyQuesType}, #{surveyQuesName}, #{surveyQuesMust}, #{surveyQuesMulti, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectSurvey" resultType="int">
	 	SELECT MAX(S.SURVEY_CODE) KEEP (DENSE_RANK LAST ORDER BY S.SURVEY_CREATE_DATE, S.SURVEY_CREATE_TIME) AS SURVEY_CODE
		  FROM SURVEY_LIST S
		     , USER_INFO I
		     , USER_TEAM_LIST T
		     , USER_PROJECT_LIST P
		     , SPRINT_LIST SP
		 WHERE I.USER_CODE = T.USER_CODE
		   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
		   AND P.USER_PROJECT_CODE = SP.USER_PROJECT_CODE
		   AND SP.SPRINT_CODE = S.SPRINT_CODE
		   AND I.USER_CODE = #{userCode}
		   AND S.SURVEY_STATUS = 'Y'
	</select>
	
	<insert id="insertNewChoice" parameterType="SurveyChoiceList">
		INSERT INTO SURVEY_CHOICE_LIST
		VALUES (#{surveyQuesCode}, #{surveyChoiceNum}, #{surveyChoiceContent})
	</insert>
	
	<insert id="insertQuesMatch">
		INSERT INTO SURVEY_QUES_MATCH
		VALUES (#{surveyQuesCode}, #{surveyCode})
	</insert>
	


	<!-- selectSurveyOne : 설문대상인지 아닌지 조회해서 페이지 넘겨줌 ! -->
	<select id="selectSurveyOne" resultMap="SurveyListResultSet" parameterType="Survey">
		SELECT *
		FROM SURVEY_LIST V
		   , SPRINT_LIST P
		   , (SELECT MAX(H.SPRINT_NAME) KEEP (DENSE_RANK LAST ORDER BY H.SPRINT_HIST_UPDATE_DATE, H.SPRINT_HIST_UPDATE_TIME) AS SPRINT_NAME
		            , H.SPRINT_CODE
		        FROM SPRINT_HISTORY H group by H.SPRINT_CODE) E
		   , SURVEY_JOIN_LIST J
		WHERE V.SPRINT_CODE = P.SPRINT_CODE
		AND P.SPRINT_CODE = E.SPRINT_CODE
		AND J.SURVEY_JOIN_EMAIL = #{userEmail, jdbcType=VARCHAR}
		AND V.SURVEY_CODE = #{surveyCode, jdbcType=NUMERIC}
	</select>
	
	<select id="selectSurveyQues" resultMap="surveyChoiceListResultSet" parameterType="Survey">
		SELECT *
		FROM SURVEY_QUES_MATCH M
		   , SURVEY_QUES_LIST L
		   , SURVEY_CHOICE_LIST C
		WHERE M.SURVEY_QUES_CODE = L.SURVEY_QUES_CODE
		  AND L.SURVEY_QUES_CODE = C.SURVEY_QUES_CODE(+)
		  AND M.SURVEY_CODE = #{surveyCode, jdbcType=NUMERIC}
		  ORDER BY  M.SURVEY_QUES_CODE, C.SURVEY_CHOICE_NUM
	</select>
	
	<!-- 답변넣기 -->
	<insert id="insertSurveyReply" parameterType="Survey">
		INSERT INTO SURVEY_REPLY_LIST 
		VALUES(#{surveyQuesCode, jdbcType=VARCHAR},#{surveyJoinCode, jdbcType=VARCHAR},
		#{surveyReplyContent, jdbcType=VARCHAR},SEQ_SURVEY_REPLY.NEXTVAL,
		#{surveyCode, jdbcType=VARCHAR})
	</insert>
	
	<!-- 답변넣기 -->
	<update id="updateJoinList" parameterType="Survey">
		UPDATE SURVEY_JOIN_LIST
		SET SURVEY_JOIN_REPLY = 'Y'
		  , SURVEY_REPLY_DATE = TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD')
		  , SURVEY_REPLY_TIME = TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss')
		WHERE SURVEY_JOIN_CODE = #{surveyJoinCode, jdbcType=VARCHAR}     
	</update>
	
	
	<!-- 대상자넣기 -->
	<insert id="insertSurveyJoin" parameterType="Survey">
		INSERT INTO SURVEY_JOIN_LIST 
		VALUES(SEQ_SURVEY_JOIN.NEXTVAL, #{surveyJoinEmail, jdbcType=VARCHAR}, 
		DEFAULT,NULL,NULL,#{surveyCode, jdbcType=NUMERIC}
		,#{surveyJoinName, jdbcType=VARCHAR})
	</insert>

	<select id="selectSurveyList" resultMap="SurveyListResultSet" parameterType="SurveyList">
      SELECT SURVEY_NAME
           ,SURVEY_CREATE_DATE
     FROM SURVEY_LIST S
        , USER_INFO I
        , USER_TEAM_LIST T
        , USER_PROJECT_LIST P
        , SPRINT_LIST SP
    WHERE I.USER_CODE = T.USER_CODE
      AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
      AND P.USER_PROJECT_CODE = SP.USER_PROJECT_CODE
      AND SP.SPRINT_CODE = S.SPRINT_CODE
      AND I.USER_CODE = 14
   </select> 
   
   <delete id="deleteSurvey" parameterType="com.stepup.agile.projectFeedback.model.vo.SurveyList">
      DELETE FROM SURVEY_LIST WHERE SURVEY_CODE = #{surveyCode}
   
   </delete>


</mapper>


