<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Task">
	
	<!-- TASK_CATEGORY 테이블 -->
	<resultMap type="com.stepup.agile.projectTask.model.vo.TaskCategory" id="TaskCategoryResultSet">
	<id property="taskCategoryCode" column="TASK_CATEGORY_CODE"/>
	<result property="taskCategoryName" column="TASK_CATEGORY_NAME"/>
	</resultMap>
	
	<!-- TASK_LIST 테이블 -->
	<resultMap type="com.stepup.agile.projectTask.model.vo.TaskList" id="TaskListResultSet">
	<id property="taskCode" column="TASK_CODE"/>
	<result property="taskCreateDate" column="TASK_CREATE_DATE"/>
	<result property="taskLevel" column="TASK_LEVEL"/>
	<result property="sprintCode" column="SPRINT_CODE"/>
	<result property="taskCreateTime" column="TASK_CREATE_TIME"/>
	<result property="taskMaster" column="TASK_MASTER"/>
	<result property="taskUser" column="TASK_USER"/>
	</resultMap>
	
	<!-- TASK_HISTORY 테이블 -->
	<resultMap type="com.stepup.agile.projectTask.model.vo.TaskHistory" id="TaskHistoryResultSet">
	<id property="taskHistUpdateDate" column="TASK_HIST_UPDATE_DATE"/>
	<result property="taskHistUpdateTime" column="TASK_HIST_UPDATE_TIME"/>
	<result property="taskCode" column="TASK_CODE"/>
	<result property="taskHistCode" column="TASK_HIST_CODE"/>
	<result property="masterCode" column="MASTER_CODE"/>
	<result property="userCode" column="USER_CODE"/>
	<result property="taskHistValue" column="TASK_HIST_VALUE"/>
	<result property="taskCategoryCode" column="TASK_CATEGORY_CODE"/>
	</resultMap>
	
	<insert id="createTask" parameterType="com.stepup.agile.projectTask.model.vo.TaskList">
		INSERT INTO TASK_LIST
		VALUES (SEQ_TASK, TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'), '상위테스크', TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), DEFAULT, DEFAULT)
		WHERE USER_EMAIL = #{userEmail}
   		AND SPRINT_CODE = #{sprintCode}
	</insert>
	
	<update id="updateTaskTitle" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
		UPDATE INTO TASK_HISTORY(TASK_HIST_UPDATE_DATE, TASK_HIST_UPDATE_TIME, TASK_HIST_CODE, MASTER_CODE, USER_CODE, TASK_HIST_VALUE, TASK_CATEGORY_CODE)
		VALUES (TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'), TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), SEQ_TASK_HIST, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</update>
	
	
</mapper>