<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Task">
	
	<resultMap type="com.stepup.agile.projectTask.model.vo.TaskCategory" id="TaskCategoryResultSet">
	<id property="taskCategoryCode" column="TASK_CATEGORY_CODE"/>
	<result property="taskCategoryName" column="TASK_CATEGORY_NAME"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.projectTask.model.vo.TaskList" id="TaskListResultSet">
	<id property="taskCode" column="TASK_CODE"/>
	<result property="taskCreateDate" column="TASK_CREATE_DATE"/>
	<result property="taskLevel" column="TASK_LEVEL"/>
	<result property="sprintCode" column="SPRINT_CODE"/>
	<result property="taskCreateTime" column="TASK_CREATE_TIME"/>
	<result property="taskMaster" column="TASK_MASTER"/>
	<result property="taskUser" column="TASK_USER"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.projectTask.model.vo.TaskHistory" id="TaskHistoryResultSet">
	<id property="taskHistUpdateDate" column="TASK_HIST_UPDATE_DATE"/>
	<result property="taskHistUpdateTime" column="TASK_HIST_UPDATE_TIME"/>
	<result property="taskCode" column="TASK_CODE"/>
	<result property="taskHistCode" column="TASK_HIST_CODE"/>
	<result property="masterCode" column="MASTER_CODE"/>
	<result property="userCode" column="USER_CODE"/>
	<result property="taskHistValue" column="TASK_HIST_VALUE"/>
	<result property="taskCategoryCode" column="TASK_CATEGORY_CODE"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.projectBacklog.model.vo.Sprint" id="sprintResultSet">
		<id property="sprintCode" column="SPRINT_CODE"/>
		<result property="sprintCreateDate" column="SPRINT_CREATE_DATE"/>
		<result property="sprintProjectCode" column="USER_PROJECT_CODE"/>
		<result property="sprintCreateTime" column="SPRINT_CREATE_TIME"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.userInfo.model.vo.Member" id="memberResultSet">
		<id property="userCode" column="USER_CODE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userCompName" column="USER_COMP_NAME"/>
		<result property="userCompDept" column="USER_COMP_DEPT"/>
		<result property="userCompJob" column="USER_COMP_JOB"/>
		<result property="userEnrollDate" column="USER_ENROLL_DATE"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="userManagerYn" column="USER_MANAGER_YN"/>
		<result property="userEnrollTime" column="USER_ENROLL_TIME"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.userInfo.model.vo.UserProjectList" id="UserProjectListResultSet">
		<id property="userProjectCode" column="USER_TEAM_CODE"/>
		<result property="userProjectUpdateDate" column="USER_PROJECT_UPDATE_DATE"/>
		<result property="userProjectUpdateTime" column="USER_PROJECT_UPDATE_TIME"/>
		<result property="userProjectStatus" column="USER_PROJECT_STATUS"/>
		<result property="projectCode" column="USER_PROJECT_CODE"/>
		<result property="userTeamCode" column="PROJECT_CODE"/>
		<result property="userProjectAuthority" column="USER_PROJECT_AUTHORITY"/>
	</resultMap>
	
	<resultMap type="com.stepup.agile.userInfo.model.vo.UserTeamList" id="UserTeamListResultSet">
		<id property="userTeamCode" column="USER_TEAM_CODE"/>
		<result property="userTeamDate" column="USER_TEAM_DATE"/>
		<result property="userTeamYn" column="USER_TEAM_YN"/>
		<result property="userCode" column="USER_CODE"/>
		<result property="teamCode" column="TEAM_CODE"/>
		<result property="userTeamTime" column="USER_TEAM_TIME"/>
	</resultMap>
	
	
	<resultMap type="com.stepup.agile.projectTask.model.vo.TaskHistory" id="selectUserTaskRSet">
		<id property="taskHistUpdateDate" column="TASK_HIST_UPDATE_DATE"/>
		<result property="taskHistUpdateTime" column="TASK_HIST_UPDATE_TIME"/>
		<result property="taskCode" column="TASK_CODE"/>
		<result property="taskHistCode" column="TASK_HIST_CODE"/>
		<result property="masterCode" column="MASTER_CODE"/>
		<result property="userCode" column="USER_CODE"/>
		<result property="taskHistValue" column="TASK_HIST_VALUE"/>
		<result property="taskCategoryCode" column="TASK_CATEGORY_CODE"/>
		<collection property="member" resultMap="memberResultSet"/>
	    <collection property="userTeamList" resultMap="UserTeamListResultSet"/>
	    <collection property="userProjectList" resultMap="UserProjectListResultSet"/>
	    <collection property="sprint" resultMap="sprintResultSet"/>
	    <collection property="taskList" resultMap="TaskListResultSet"/>
	</resultMap>
	
	<insert id="createTask" parameterType="com.stepup.agile.projectTask.model.vo.TaskList">
		<selectKey keyProperty="taskCode" resultType="int" order="BEFORE">
			SELECT SEQ_TASK.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TASK_LIST(TASK_CODE, TASK_CREATE_DATE, TASK_LEVEL, SPRINT_CODE, TASK_CREATE_TIME, TASK_MASTER, TASK_USER)
		VALUES (#{taskCode}, TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'), '상위', #{sprintCode}, TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), DEFAULT, #{taskUser, jdbcType=VARCHAR})
	</insert>
	
	<!-- <select id="selectList" parameterType="com.stepup.agile.projectTask.model.vo.TaskList">
		SELECT *
		  FROM TASK_LIST
		 WHERE TASK_CODE = #{taskCode} 
	</select> -->
	
	<insert id="updateTaskTitle" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
		<selectKey keyProperty="taskHistCode" resultType="int" order="BEFORE">
			SELECT SEQ_TASK_HIST.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TASK_HISTORY(TASK_HIST_UPDATE_DATE, TASK_HIST_UPDATE_TIME,TASK_CODE, TASK_HIST_CODE, MASTER_CODE, USER_CODE, TASK_HIST_VALUE, TASK_CATEGORY_CODE)
		VALUES (TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'), TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), #{taskCode}, #{taskHistCode}, #{masterCode}, #{userCode}, #{taskHistValue, jdbcType=VARCHAR}, #{taskCategoryCode, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectTaskTitle" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory" resultType="java.lang.String">
		SELECT TASK_HIST_VALUE
		FROM TASK_HISTORY
		WHERE TASK_HIST_CODE = #{taskHistCode}
	</select>
	
	<select id="selectUserTaskTitle" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory" resultMap="selectUserTaskRSet">
		SELECT TK.TASK_CODE, TS.TASK_CATEGORY_CODE
		      , MAX(TS.TASK_HIST_VALUE) KEEP (DENSE_RANK LAST ORDER BY TS.TASK_HIST_UPDATE_DATE, TS.TASK_HIST_UPDATE_TIME) AS TASK_HIST_VALUE
		   FROM USER_INFO I,
				       USER_TEAM_LIST T,
				       USER_PROJECT_LIST P,
				       SPRINT_LIST S,
				       TASK_LIST TK,
				       TASK_HISTORY TS
		  WHERE I.USER_CODE = T.USER_CODE
				   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
				   AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
				   AND S.SPRINT_CODE = TK.SPRINT_CODE
				   AND TK.TASK_CODE = TS.TASK_CODE
				   AND I.USER_CODE = #{userCode}
		  GROUP BY TK.TASK_CODE, TS.TASK_CATEGORY_CODE
		    HAVING TS.TASK_CATEGORY_CODE IS NOT NULL
		  ORDER BY TK.TASK_CODE

	</select>
	
	<select id="selectPjNonTask" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory" resultMap="selectUserTaskRSet">
		SELECT COUNT(TASK_HIST_VALUE)
          FROM (SELECT TK.TASK_CODE
                     , MAX(TS.TASK_HIST_VALUE) KEEP (DENSE_RANK LAST ORDER BY TS.TASK_HIST_UPDATE_DATE, TS.TASK_HIST_UPDATE_TIME) AS TASK_HIST_VALUE
                  FROM USER_INFO I,
                       USER_TEAM_LIST T,
                       USER_PROJECT_LIST P,
                       SPRINT_LIST S,
                       TASK_LIST TK,
                       TASK_HISTORY TS,
                       PROJECT_LIST PS
                  WHERE I.USER_CODE = T.USER_CODE
                           AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
                           AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
                           AND P.PROJECT_CODE = PS.PROJECT_CODE
                           AND S.SPRINT_CODE = TK.SPRINT_CODE
                           AND TK.TASK_CODE = TS.TASK_CODE
                           AND I.USER_CODE = #{userCode}
                           AND P.PROJECT_CODE = (SELECT PROJECT_CODE
                                                   FROM PROJECT_LIST
                                                  WHERE PROJECT_NAME = #{projectName})
                           AND TS.TASK_CATEGORY_CODE = 'I'
                  GROUP BY TK.TASK_CODE, TS.TASK_CATEGORY_CODE)
          WHERE TASK_HIST_VALUE LIKE '%미진행%'
	</select>

	<select id="selectBugTask" resultMap="selectUserTaskRSet" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
		 SELECT TK.TASK_CODE, S.SPRINT_CODE
		      , MAX(TS.TASK_HIST_VALUE) KEEP (DENSE_RANK LAST ORDER BY TS.TASK_HIST_UPDATE_DATE, TS.TASK_HIST_UPDATE_TIME) AS TASK_HIST_VALUE
		   FROM USER_INFO I,
				USER_TEAM_LIST T,
				USER_PROJECT_LIST P,
		        SPRINT_LIST S,
				TASK_LIST TK,
				TASK_HISTORY TS
		  WHERE I.USER_CODE = T.USER_CODE
				   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
				   AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
				   AND S.SPRINT_CODE = TK.SPRINT_CODE
				   AND TK.TASK_CODE = TS.TASK_CODE
				   AND I.USER_CODE = #{userCode}
		           AND TS.TASK_CATEGORY_CODE = 'J'
		           AND TS.TASK_CODE IN (SELECT TASK_CODE AS 버그있는애들
		            FROM (SELECT TK.TASK_CODE
		               , MAX(TS.TASK_HIST_VALUE) KEEP (DENSE_RANK LAST ORDER BY TS.TASK_HIST_UPDATE_DATE, TS.TASK_HIST_UPDATE_TIME) AS TASK_HIST_VALUE
		           FROM USER_INFO I,
		                       USER_TEAM_LIST T,
		                       USER_PROJECT_LIST P,
		                       SPRINT_LIST S,
		                       TASK_LIST TK,
		                       TASK_HISTORY TS
		          WHERE I.USER_CODE = T.USER_CODE
		                   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
		                   AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
		                   AND S.SPRINT_CODE = TK.SPRINT_CODE
		                   AND TK.TASK_CODE = TS.TASK_CODE
		                   AND I.USER_CODE = #{userCode}
		                   AND TS.TASK_CATEGORY_CODE = 'G'
		          GROUP BY TK.TASK_CODE, TS.TASK_CATEGORY_CODE
		          ORDER BY TK.TASK_CODE)
		          WHERE TASK_HIST_VALUE = 'Y') GROUP BY TK.TASK_CODE, S.SPRINT_CODE
	</select>
	
	<select id="selectBugCont" resultMap="selectUserTaskRSet" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
		 SELECT TK.TASK_CODE, TS.TASK_CATEGORY_CODE, S.SPRINT_CODE
		      , MAX(TS.TASK_HIST_VALUE) KEEP (DENSE_RANK LAST ORDER BY TS.TASK_HIST_UPDATE_DATE, TS.TASK_HIST_UPDATE_TIME) AS TASK_HIST_VALUE
		   FROM USER_INFO I,
				       USER_TEAM_LIST T,
				       USER_PROJECT_LIST P,
				       SPRINT_LIST S,
				       TASK_LIST TK,
				       TASK_HISTORY TS
		  WHERE I.USER_CODE = T.USER_CODE
				   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
				   AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
				   AND S.SPRINT_CODE = TK.SPRINT_CODE
				   AND TK.TASK_CODE = TS.TASK_CODE
				   AND I.USER_CODE = #{userCode}
				   AND TK.TASK_CODE = #{taskCode}
		  GROUP BY TK.TASK_CODE, TS.TASK_CATEGORY_CODE, S.SPRINT_CODE
		  ORDER BY TK.TASK_CODE
	</select>
	
	<insert id="insertCloneBug" parameterType="com.stepup.agile.projectTask.model.vo.TaskList">
		<selectKey keyProperty="taskCode" resultType="int" order="AFTER">
	         SELECT SEQ_TASK.NEXTVAL FROM DUAL
	      </selectKey>
		INSERT INTO TASK_LIST
		VALUES(SEQ_TASK.NEXTVAL, TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'),'상위', #{sprintCode}, TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), NULL, #{userCode, jdbcType=VARCHAR}, NULL)
	</insert>
	
	<insert id="insertCloneBug2" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
		INSERT INTO TASK_HISTORY (TASK_HIST_UPDATE_DATE, TASK_HIST_UPDATE_TIME, TASK_CODE, TASK_HIST_CODE, MASTER_CODE, USER_CODE, TASK_HIST_VALUE, TASK_CATEGORY_CODE)
		VALUES(TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'), TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), #{taskCode}, SEQ_TASK_HIST.NEXTVAL, NULL, #{userCode}, 'CLONE-'||#{bugtitle}, 'J')
	</insert>
	
	<insert id="insertCloneBug3" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
		INSERT INTO TASK_HISTORY (TASK_HIST_UPDATE_DATE, TASK_HIST_UPDATE_TIME, TASK_CODE, TASK_HIST_CODE, MASTER_CODE, USER_CODE, TASK_HIST_VALUE, TASK_CATEGORY_CODE)
		VALUES(TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'), TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), #{taskCode}, SEQ_TASK_HIST.NEXTVAL, NULL, #{userCode}, #{bugCont}, 'H')
	</insert>
	
	<insert id="insertCloneBug4" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
		INSERT INTO TASK_HISTORY (TASK_HIST_UPDATE_DATE, TASK_HIST_UPDATE_TIME, TASK_CODE, TASK_HIST_CODE, MASTER_CODE, USER_CODE, TASK_HIST_VALUE, TASK_CATEGORY_CODE)
		VALUES(TO_CHAR(SYSDATE + 9/24, 'YYYY-MM-DD'), TO_CHAR(SYSDATE + 9/24, 'hh24:mi:ss'), #{taskCode}, SEQ_TASK_HIST.NEXTVAL, NULL, #{userCode}, 'Y', 'G')
	</insert>
	
	<delete id="deleteCloneBug" parameterType="com.stepup.agile.projectTask.model.vo.TaskList">
		DELETE FROM TASK_LIST
         WHERE TASK_CODE = #{taskCode}
	</delete>
	
	<select id="searchBug" resultMap="selectUserTaskRSet" parameterType="com.stepup.agile.projectTask.model.vo.TaskHistory">
	SELECT TK.TASK_CODE, MAX(TS.TASK_HIST_VALUE) KEEP (DENSE_RANK LAST ORDER BY TS.TASK_HIST_UPDATE_DATE, TS.TASK_HIST_UPDATE_TIME) AS TASK_HIST_VALUE
		   FROM USER_INFO I,
				       USER_TEAM_LIST T,
				       USER_PROJECT_LIST P,
				       SPRINT_LIST S,
				       TASK_LIST TK,
				       TASK_HISTORY TS,
                       PROJECT_LIST PL,
                       PROJECT_HISTORY PH
		  WHERE I.USER_CODE = T.USER_CODE
				   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
				   AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
				   AND S.SPRINT_CODE = TK.SPRINT_CODE
				   AND TK.TASK_CODE = TS.TASK_CODE
                   AND P.PROJECT_CODE = PL.PROJECT_CODE
                   AND P.PROJECT_CODE = PH.PROJECT_CODE
				   AND I.USER_CODE = #{userCode}
                   AND PH.PROJECT_STATUS = 'N'
                   AND TASK_HIST_VALUE LIKE '%'||#{taskCont}||'%'
                   AND TASK_CATEGORY_CODE = 'J'
		  GROUP BY TK.TASK_CODE, TS.TASK_CATEGORY_CODE
		    HAVING TS.TASK_CATEGORY_CODE IS NOT NULL 
UNION
SELECT TASK_CODE, TASK_HIST_VALUE
  FROM (SELECT TS.TASK_CODE
             , MAX(TS.TASK_HIST_VALUE) KEEP (DENSE_RANK LAST ORDER BY TS.TASK_HIST_UPDATE_DATE, TS.TASK_HIST_UPDATE_TIME) AS TASK_HIST_VALUE
		   FROM USER_INFO I,
				       USER_TEAM_LIST T,
				       USER_PROJECT_LIST P,
				       SPRINT_LIST S,
				       TASK_LIST TK,
				       TASK_HISTORY TS,
                       PROJECT_LIST PL,
                       PROJECT_HISTORY PH
		  WHERE I.USER_CODE = T.USER_CODE
				   AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
				   AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
				   AND S.SPRINT_CODE = TK.SPRINT_CODE
				   AND TK.TASK_CODE = TS.TASK_CODE
                   AND P.PROJECT_CODE = PL.PROJECT_CODE
                   AND P.PROJECT_CODE = PH.PROJECT_CODE
				   AND I.USER_CODE = #{userCode}
                   AND PH.PROJECT_STATUS = 'N'
                   AND TASK_CATEGORY_CODE = 'J'
		  GROUP BY TK.TASK_CODE, TS.TASK_CATEGORY_CODE, TS.TASK_CODE
		    HAVING TS.TASK_CATEGORY_CODE IS NOT NULL 
		  ORDER BY TK.TASK_CODE)
 WHERE TASK_CODE IN (SELECT TK.TASK_CODE
                   FROM USER_INFO I,
                               USER_TEAM_LIST T,
                               USER_PROJECT_LIST P,
                               SPRINT_LIST S,
                               TASK_LIST TK,
                               TASK_HISTORY TS,
                               PROJECT_LIST PL,
                               PROJECT_HISTORY PH
                  WHERE I.USER_CODE = T.USER_CODE
                           AND T.USER_TEAM_CODE = P.USER_TEAM_CODE
                           AND P.USER_PROJECT_CODE = S.USER_PROJECT_CODE
                           AND S.SPRINT_CODE = TK.SPRINT_CODE
                           AND TK.TASK_CODE = TS.TASK_CODE
                           AND P.PROJECT_CODE = PL.PROJECT_CODE
                           AND P.PROJECT_CODE = PH.PROJECT_CODE
                           AND I.USER_CODE = #{userCode}
                           AND PH.PROJECT_STATUS = 'N'
                           AND TASK_HIST_VALUE LIKE '%'|| #{taskCont} ||'%'
                           AND TASK_CATEGORY_CODE = 'H'
                  GROUP BY TK.TASK_CODE, TS.TASK_CATEGORY_CODE
                    HAVING TS.TASK_CATEGORY_CODE IS NOT NULL )
	</select>
</mapper>