<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.stepup.agile.userInfo.model.vo.Member" alias="Member"/>
		<typeAlias type="com.stepup.agile.projectManage.model.vo.Project" alias="Project"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
	</mappers>

</configuration>