<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.stepup.agile.userInfo.model.vo.Member" alias="Member"/>
		<typeAlias type="com.stepup.agile.projectBacklog.model.vo.Sprint" alias="Sprint"/>
		<typeAlias type="com.stepup.agile.projectBacklog.model.vo.SprintHistory" alias="SprintHistory"/>
		<typeAlias type="com.stepup.agile.userMyTasks.model.vo.MyTask" alias="Mytask"/>
		<typeAlias type="com.stepup.agile.userMyTasks.model.vo.MyTaskShare" alias="MyTaskShare"/>
	    <typeAlias type="com.stepup.agile.projectManage.model.vo.Project" alias="Project"/>
	    <typeAlias type="com.stepup.agile.projectManage.model.vo.ProjectHistory" alias="ProjectHistory"/>
	    <typeAlias type="com.stepup.agile.projectTask.model.vo.ReplyList" alias="Reply"/>
        <typeAlias type="com.stepup.agile.projectTask.model.vo.ReplyHistory" alias="ReplyHistory"/>
        <typeAlias type="com.stepup.agile.projectTask.model.vo.TaskHistory" alias="TaskHistory"/>
        <typeAlias type="com.stepup.agile.projectTask.model.vo.TaskList" alias="TaskList"/>
        <typeAlias type="com.stepup.agile.userInfo.model.vo.Team" alias="Team"/>
        <typeAlias type="com.stepup.agile.userInfo.model.vo.UserTeamList" alias="userTeamList"/>
        <typeAlias type="com.stepup.agile.userInfo.model.vo.UserProjectList" alias="userProjectList"/>
        <typeAlias type="com.stepup.agile.userInfo.model.vo.Attachment" alias="attachment"/>
	</typeAliases>
	
 	<mappers>
 		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/sprint-mapper.xml"/>
		<mapper resource="mappers/mytask-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/task-mapper.xml"/>
		<mapper resource="mappers/team-mapper.xml"/>
		<mapper resource="mappers/reply-mapper.xml"/>
 	</mappers>
	
	
	
</configuration>