@charset "UTF-8";
#content{
    width: 1440px;
    height: 900px;
    background-color: white;
    box-sizing: border-box;
}
#main-cont-area{
	width: 70%;
	height: 100%;
	display: inline-block;
	float: left;
	margin: 0 auto;
}
#calendar-area{
 	width:30%;
	height:100%;
	display: inline-block;
}
#status-area{
	width: 100%;
	height:16%;
}
#pj-alm-area{
	width: 38%;
	height:80%;
	display: inline-block;
	float: left;
}
#task-cht-area{
	width: 60%;
	height:80%;
	display: inline-block;
	margin-left: 7px;
}
#pro-cont-area{
	border: 1px solid #E8E8E8;
	border-radius: 8px;
	width: 100%;
	height:50%;
	margin-right: 4px;
}
#alm-cont-area{
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid #E8E8E8;
	border-radius: 8px;
	width: 100%;
	height:50%;
}
#task-cont-area{
	margin-right: 10px;
	border: 1px solid #E8E8E8;
	border-radius: 8px;
	width: 97%;
	height:50%;
}
#cht-cont-area{
	margin-top: 10px;
	border: 1px solid #E8E8E8;
	border-radius: 8px;
	width: 97%;
	height:50%;
}
#pro-cont-title{
	border-bottom: 1px solid #E8E8E8;
	width:97%;
	height:10%;
	padding-left: 10px;
}
#cal-area{
	margin-left: 30px;
	width: 80%;
	height:97%;
	border: 1px solid #E8E8E8;
	border-radius: 8px;
}
#project{
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}
#pro-cont{
	width:100%;
	height:85%;
}
#alm-cont-title{
	border-bottom: 1px solid #E8E8E8;
	width:97%;
	height:10%;
	padding-left: 10px;
}
#alm-cont{
	width:100%;
	height:85%;
}
#alarm{
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}
#cht-cont{
	width:100%;
	height:85%;
}
#cht-cont-title{
	border-bottom: 1px solid #E8E8E8;
	width:98%;
	height:10%;
	padding-left: 10px;
}
#chart{
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}
#task-cont-title{
	border-bottom: 1px solid #E8E8E8;
	width:98%;
	height:10%;
	padding-left: 10px;
}
#task-cont{
	width:100%;
	height:85%;
}
#task{
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}
#cal-cont{
	width:100%;
	height:80%;
}
#not-task{
	border-radius: 5px;
	margin-left: 20px;
	border: 1px solid #E8E8E8;
	display: inline-block;
	width:20%;
	height:70%;
	box-shadow: 11px 17px 9px -7px rgba(179, 179, 179, 0.25);
	font-weight: 400;
}
#task-ing{
	border-radius: 5px;
	margin-left: 30px;
	border: 1px solid #E8E8E8;
	display: inline-block;
	width:20%;
	height:70%;
	box-shadow: 11px 17px 9px -7px rgba(179, 179, 179, 0.25);
	font-weight: 400;
}
#com-task{
	border-radius: 5px;
	margin-left: 30px;
	border: 1px solid #E8E8E8;
	display: inline-block;
	width:20%;
	height:70%;
	box-shadow: 11px 17px 9px -7px rgba(179, 179, 179, 0.25);
	font-weight: 400;
}
#tot-task{
	border-radius: 5px;
	margin-left: 30px;
	border: 1px solid #E8E8E8;
	display: inline-block;
	width:20%;
	height:70%;
	font-weight: 400;
	box-shadow: 11px 17px 9px -7px rgba(179, 179, 179, 0.25);
}
.status{
	margin-left: 20px;
	margin-top: 4px;
	width:100%;
	height:30%;
	display: inline-block;
	font-size: 25px;
	font-weight: 600;
}
.ing{
	width:100%;
	margin-top: 25px;
	margin-left: 20px;
}


#n-tk{
	color:#F04758;
}
#tk-ing{
	color:#00BF9C;
}
#co-tk{
	color:#008CE3;
}
#to-tk{
	color: black;
}

<!-- 차트 -->
#cht{
	display: inline-block;
	float: left;
}
.pie-chart1 {
   margin-top: 40px;
   margin-left: 40px;
   display:inline-block;
   position: relative;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   transition: 0.3s;
}
span.center{
   position: absolute;
   width:140px; 
   height: 140px;
   background :#fff;
   border-radius: 50%;
   top: 20px;
   left:20px;
}
#to-ch{
	margin-left: 55px;
	margin-bottom: 15px;
	font-size: 30px;
}
#to-ch-ti{
	margin-bottom: 50px;
	margin-left: 40px;
}
#cht-st{
	display: inline-block;
	height:80%;
}
.cht-tt{
	margin-bottom: 40px;
	color:  #565656;
}
#no-ch, #ing-ch, #com-ch{
	display: inline-block;
	margin-left: 60px;
}
#no-ch-to, #ing-ch-to{
	margin-left: 60px;
}
#com-ch-to{
	margin-left: 76px;
}
