	.calendar{
		width: 75%;
		margin-top: 15px;
		float: left;
	}

	#cal-tr > th{
		text-align: left;
	
	}
	.cal-schedule{
		font-size: small;
	}
	
	.cal_top{
		text-align: left;
		font-size: x-large;
	}
	
	.all_cal-func{
		width: 75%;
	}
	
	#calendarbtn{
		float: right;
		margin-left: 20px;
		width: 500px;
	}

	.cal-func{
		margin: 5px;
		height: 30px;
		width: 130px;
		vertical-align: middle;
		float: right;
		text-align: center;
		line-height: 30px;
		font-size: small;
		border-radius: 10px;
		color: #DD0351;
		background: #f9f9f9;
		transition: all ease 0.3s 0s;
	}

	.cal-func:hover{
		font-weight: bold;
		background: #DD0351;
		color: #f9f9f9;
	}
	
	#prevMonth > img , #nextMonth > img {
		width: 30px;
		height: 30px;
		vertical-align: middle;
	}
	
	/* 우측 체크리스트 */
	.checkList{
		float: right;
		margin-right: 40px;
	}

	#toDoList{
		width: 250px;
		height: 329px;
		background-color: #FAFAFA;
		border-radius: 20px;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		
	}
	
	#sharedList{
		margin-top: 10px;
		width: 250px;
		height: 329px;
		background-color: #FAFAFA;
		border-radius: 20px;
	}

	#todayDay{
		font-style: normal;
		font-weight: bolder;
		font-size: 18px;
		line-height: 21px;
		
	}

	#tadayDate{
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
	}

	.checkListToday {
		padding-top : 30px;
		padding-left: 20px;
		width: 200px;
		overflow:hidden;
		text-align: left;
		
	}

	.checkListToday > p {
		font-size: 12px;
		line-height: 14px;	
		color: #DD0351;
		font-weight: bold;
	}

	.checkListTodayTable {
		padding-left: 20px;
		padding-right: 20px;
		width: 250px;
		table-layout: fixed;
	}


	.toDoCheckBox{
		width: 20px;

	}

	.toDoToday {
		font-size: 13px;
		width: 190px;
		text-overflow:ellipsis; 
		overflow:hidden; 
		white-space:nowrap;

	}

	#plusMyTask{
		width: 40px;
		height: 40px;
		margin-left: auto;
		position: relative;
		top: 90px;
		left: 100px;
		border: 0;
		outline: 0;
		background: transparent;
		cursor: pointer;
	}