@charset "UTF-8";
#content{
	wdith:1440px;
	height:900px;
}
#content-box{
	width:100%;
	height:100%;
	background-color: yellow;
}
#bug-list-area{
	width: 40%;
	height: 100%;
	background-color: yellow;
}
#bug-detail-area{
	width: 60%;
	height: 100%;
	background-color: green;
}