@charset "UTF-8";
#content{
	wdith:1440px;
	height:900px;
}
#contentBox{
	width:100%;
	height:100%;
	display: inline-block;
}
#search-area{
	width:100%;
	height:70%;
	margin-top: 20px;
}
#bug-list-area{
	margin-top: 50px;
	width: 30%;
	height: 100%;
	display: inline-block;
	float: left;
}
#bug-detail-area{
	margin-top: 50px;
	width: 70%;
	height: 100%;
	display: inline-block;
}
#bug-search{
	display: inline-block;
	width: 100px;
	margin-left: 8px;
}
#user-search{
	display: inline-block;
	width: 120px;
	margin-top: 2px;
	
}
#sta-search{
	display: inline-block;
	width: 120px;
	margin-top: 2px;
	margin-left: 10px;
}
#bug-list{
	width: 95%;
	height: 100%;
	/* width: 350px;
	height:655px; */
	border:1px solid #E8E8E8;
	background-color: #FAFAFA;
}
#bug-detail{
	width: 100%;
	height: 100%;
	/* width: 850px;
	height:655px; */
	border:1px solid #E8E8E8;
	background-color: #FAFAFA;
}
.bg-tb{
	border-radius: 10px;
}
#bug